<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseODataUrl" value="https://localhost:44319/api/odata"/>
    <add key ="authURL" value="https://localhost:44319/api/Authentication/Authenticate"/>
    <add key ="checkPermissionURL" value="https://localhost:44319/api/CheckPermission/CanEdit"/>
    <add key ="baseURL" value="https://localhost:44319/api/"/>
  </appSettings>
</configuration>